<section class="home" id="home">

    <div class="swiper-container home-slider">

        <div class="swiper-wrapper wrapper">

            <div class="swiper-slide slide">
                <div class="content">
                    <span>Editors top choice in book</span>
                    <h3>Books of feather</h3>
                    <p>"Incredible story"</p>
                    <a href="#" class="btn">read now</a>
                </div>
                <div class="image">
                    <img src="images/home-img-1.png" alt="">
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <span>Book of the year</span>
                    <h3>The Way to Win</h3>
                    <p>"Breathtaking story writing."</p>
                    <a href="#" class="btn">read now</a>
                </div>
                <div class="image">
                    <img src="images/home-img-2.png" alt="">
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <span>Popular amongst young children</span>
                    <h3>The mysterious Benedict Society</h3>
                    <p>"Where adventure sets sail"</p>
                    <a href="#" class="btn">read now</a>
                </div>
                <div class="image">
                    <img src="images/home-img-3.png" alt="">
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>