    <!-- Footer -->
    <footer class="footer p-6 whitebg">
        <div class="content is-max-desktop m-6 p-6 ">
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="block">
                            
                    
                    <h3>Oh My Books!</h3>
                    <p>This app was designed and developed by Jane, Allyson, Kyle, Jully & Jeoffrey and is shared with
                        the whole world.</p>
                        

                    <aside class="menu mt-5">
                        <p class="menu-label">
                            Meet The Developers
                        </p>
                        <ul class="menu-list">
                            <li><a>Jane</a></li>
                            <li><a>Allyson</a></li>
                            <li><a>Kyle</a></li>
                            <li><a>Jully</a></li>
                            <li><a>Jeoffrey</a></li>
                        </ul>
                    </aside>
                    <div class="logocard" style="height:200px; object-position:bottom;"></div>
                        </div>

                </div>
                <div class="column is-one-fourth">
                    <aside class="menu">
                        <p class="menu-label">
                            About
                        </p>
                        <ul class="menu-list">
                            <li><a>Recommended For You</a></li>
                            <li><a>Top Rated</a></li>
                            <li><a>Best New</a></li>
                        </ul>
                        <p class="menu-label">
                            Resources
                        </p>
                        <ul class="menu-list">
                            <li><a>API Link</a></li>
                            <li><a>Node.JS</a></li>
                            <li><a>Express.JS</a></li>
                            <li><a>Handlebars</a></li>
                            <li><a>Repo Link</a></li>
                            <li><a>Heroku Link</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="column is-one-fourth">
                    <aside class="menu">
                        <p class="menu-label">
                            Genre
                        </p>
                        <ul class="menu-list">
                            <li><a>Action</a></li>
                            <li><a>Adventure</a></li>
                            <li><a>Classics</a></li>
                            <li><a>Fantasy</a></li>
                            <li><a>Graphic Novels</a></li>
                            <li><a>Horror</a></li>
                            <li><a>Mystery</a></li>
                            <li><a>Non-Fiction</a></li>
                            <li><a>Romance</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </footer>