    <section class="hero is-medium sectionbg">
        <div class="hero-body container is-max-desktop">
            <div class="box boxradius">
                <p class="subtitle pl-4">
                    <i class="fa-solid fa-magnifying-glass mr-2"></i>
                    A place to rate, review and get book recommendations from like-minded readers.
                </p>
            </div>
            
        </div>
    </section>