 <!-- Hero-Profile -->

    <section class="hero is-halfheight sectionbg">

        <div class="hero-body container is-max-desktop">

            <div class="columns">

                <div class="columns content is-multiline">
                    <div class="column is-full">
                        <h1 class="box boxradius">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            Welcome, {{username}}!
                        </h1>
                    </div>

                    <div class="column is-half">

                        <div class="box content is-grouped is-grouped-right">
                            <h4 class="subtitle">
                                Top Pick For You

                            </h4>
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-96x96">
                                        <img src="./images/frombloodandash.jpg" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>
                                                From Blood and Ash
                                            </strong> <br><small>by Jennifer L. Armentrout</small>
                                            <br>
                                            <a>
                                                A Maiden… Chosen from birth to usher in a new era, Poppy\’s life has never been her own. The life of the Maiden is solitary. Never to be touched. Never to be looked upon. Never to be spoken to. Never to experience pleasure. Waiting for the day of her Ascension, she would rather be with the guards, fighting back the evil that took her family, than preparing to be found worthy by the gods. But the choice has never been hers.
                                            </a>
                                        </p>
                                        <small>Allyson gave this 4 out of 5</small>
                                    </div>

                                </div>
                            </article>

                            <button class="button is-danger is-light">Add Review</button>


                        </div>
                    </div>

                    <div class="column is-half">
                        <div class="box content">
                            <h4><strong>Your Reviews</strong></h4>

                            <p>Looks like you don't have any books you've reviewed. Search and add reviews now.</p>

                            <div class="field is-grouped">
                                <p class="control is-expanded">
                                    <input class="input" type="text" placeholder="Search">
                                </p>
                                <p class="control">
                                    <a class="button is-info">
                                        Search
                                    </a>
                                </p>
                            </div>

                        </div>

                        <br>
                    </div>
                </div>

            </div>

        </div>
        </div>

    </section>