    <!-- Hero-Genre-->
    <section class="hero is-medium is-link">
        <div class="hero-body  container is-max-desktop">
            <p class="title">
                Genre: <strong>{{genre}}</strong>
            </p>
            <p class="subtitle">
                A place to rate and review books and get book recommendations from like-minded readers.
            </p>
        </div>
    </section>