 <!-- Hero-Login -->
    <section class="hero is-medium is-info">
        <div class="hero-body container is-max-desktop">
            <div class="columns">
                <div class="column">
                    <p class="title">
                        Login
                    </p>
                    <p class="subtitle">
                        Sign in to add your review and get recommendations </p>
                </div>

                <form class="column login-form">
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input class="input" id="email-login" type="email" placeholder="Email">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" id="password-login" type="password" placeholder="Password">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button class="button is-success is-right">
                                Login
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </section>

<script src="./js/login.js"></script>