 <!-- Hero-SignUp -->
    <section class="hero is-medium is-success">
        <div class="hero-body container is-max-desktop">
            <div class="columns">
                <div class="column">
                    <p class="title">
                        Sign Up
                    </p>
                    <p class="subtitle">
                        Create an account to add your review and get recommendations</p>
                </div>

                <form class="column signup-form">
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input class="input" id="username-signup" type="username" placeholder="Username">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>

                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input class="input" id="email-signup" type="email" placeholder="Email">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>

                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" id="password-signup" type="password" placeholder="Password">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>

                    <div class="field">
                        <p class="control">
                            <button class="button is-warning is-right" type="submit">
                                Sign Up
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </section>

{{!-- <script src="./js/signup.js"></script> --}}
