<nav class="navbar is-transparent is-fixed-top">
      <!-- logo input -->
      <div class="navbar-brand navbar-start">
          <a class="navbar-item image is-128x128 logo">
            <!-- <img class="has-ratio" src="./img/logo.png" alt="logo"> -->
          </a>
      </div>

      <!-- genre menu -->
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="navbar-item" href="#home">
            Home
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Genre
            </a>
            <div class="navbar-dropdown">
            <a class="navbar-item" href="/book/genre/Action">
                Action
              </a>
              <a class="navbar-item" href="/book/genre/Adventure">
                Adventure
              </a>
              <a class="navbar-item" href="/book/genre/Classics">
                Classics
              </a>
              <a class="navbar-item" href="/book/genre/Fantasy">
                Fantasy
              </a>
              <a class="navbar-item" href="/book/genre/Graphic%20Novel">
     Graphic Novel
              </a>
              <a class="navbar-item" href="/book/genre/Horror">
                Horror
              </a>
              <a class="navbar-item" href="/book/genre/Mystery%2fThriller">
    Mystery/Thriller
              </a>
              <a class="navbar-item" href="/book/genre/Non-Fiction">
  Non-Fiction
              </a>
              <a class="navbar-item" href="/book/genre/Romance">
                Romance
              </a>
              <a class="navbar-item" href="/book/genre/Science%20Fiction">
     Science Fiction
              </a>
            </div>
          </div>

            <!-- search bar -->
            <div class="navbar-item">
              <input class="input" type="text" placeholder="Search">
            </div>

              <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <div class="navbar-item">
          <div class="buttons">
            <a href="/login" class="button">
              Log In
            </a>
        </div>
        
        {{/if}}

        </div>
      </div>

    </nav>