<!-- Add Review -->
    <section class="section is-medium has-background-warning">
        <div class="box">
            <div class="columns">
                <div class="column content p-6">
                    <p class="title">
                        Hi, <strong>{{username}}</strong>!
                    </p>
                    <p class="subtitle">
                        Looking forward to your review of <strong>Booktitle{{title}}</strong>.</p>
                    <p>Thanks!</p>
                    <p>Oh My Books Team</p>
                </div>

                <div class="column content p-6">
                    <h4>Let's add your review</h4>
                    <div class="field">
                        <p class="control">
                            <label class="label">What do you have to share about this book?</label>
                            <input class="input" type="text" placeholder="My thoughts are ...">

                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <label class="label">What would you rate this out of 5?</label>
                            <input class="input" type="text" placeholder="I would rate this ... out of 5">

                        </p>
                    </div>

                    <div class="field">
                        <p class="control">
                            <button class="button is-warning is-right">
                                Submit
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>