 {{#if logged_in}}
    <!-- Sub Navigation - Logged In -->
    <div class="tabs is-centered mt-5">
        <ul>
            <li class="is-active"><a>All</a></li>
            <li><a>Your Reviews</a></li>
            <li><a href="#recommended">Recommended For You</a></li>
            <li><a href="#latestReviews">Latest Reviews</a></li>
            <li><a href="#bestNew">Best New</a></li>
        </ul>
    </div>
 
 {{else}}
<!-- Sub Navigation - Not Logged In -->
    <div class="tabs is-centered mt-5">
        <ul>
            <li class="is-active"><a>All</a></li>
            <li><a href="#recommended">Recommended For You</a></li>
            <li><a href="#latestReviews">Latest Reviews</a></li>
            <li><a href="#bestNew">Best New</a></li>
        </ul>
    </div>
     {{/if}}