    <!-- Content-1 -->
    <section class="section is-small">
        <div class="container is-max-desktop">

            <h1 class="title">Your Reviews</h1>

            <div class="columns is-multiline">
                <div class="column is-half">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="./images/book-7.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>
                                            The Subtle Art of Not Giving a F*ck: A Counterintuitive Approach to Living a Good Life
                                        </strong> <br><small>by Mark Manson</small>
                                        <br>
                                        In this generation-defining self-help guide, a superstar blogger cuts through the crap to show us how to stop trying to be "positive" all the time so that we can truly become better, happier people.

                                    </p>
                                    <small>You gave this 4 out of 5</small>
                                </div>
                                <button class="button is-danger is-light">Delete</button>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="./images/book-8.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>
                                            Hell Girl
                                        </strong> <br><small>by Miyuki Eto</small>
                                        <br>
                                        When you thirst for revenge, there\’s a surefire way to get it: Simply go to the strange website that appears only at midnight, and enter the name of your enemy. The Hell Girl will appear to drag your tormentor to eternal damnation. But you will have to pay a price . . . your soul!

                                    </p>
                                    <small>You gave this 4 out of 5</small>
                                </div>
                                <button class="button is-danger is-light">Delete</button>
                            </div>
                        </article>
                    </div>
                </div>
                
            </div>

        </div>
    </section>