   <!-- Content-3 -->
    <section class="section is-small">
        <div class="container is-max-desktop">

            <h1 id="latestReviews" class="title">Latest Reviews</h1>

            <div class="columns is-multiline">
                <div class="column is-half">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="./images/book-2.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>
                                            I Am Watching You
                                        </strong> <br><small>by Teresa Driscoll</small>
                                        <br>
                                        When Ella Longfield overhears two attractive young men flirting with teenage girls on a train, she thinks nothing of it—until she realises they are fresh out of prison and her maternal instinct is put on high alert. But just as she\’s decided to call for help, something stops her. The next day, she wakes up to the news that one of the girls—beautiful, green-eyed Anna Ballard—has disappeared.

                                    </p>
                                    <small>Kyle gave this 3 out of 5</small>
                                </div>
                                {{#if logged_in}}
                                <button class="button is-danger is-light">Add Review</button>
                                {{else}}
                                <button class="button is-text is-light"><a href="/login">Log in to add a review</a></button>
                                {{/if}}
                            </div>
                        </article>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="./images/book-4.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>
                                            The Silent Patient
                                        </strong> <br><small>by Alex Michaelides</small>
                                        <br>
                                        Alicia Berenson\’s life is seemingly perfect. A famous painter married to an in-demand fashion photographer, she lives in a grand house with big windows overlooking a park in one of London\’s most desirable areas. One evening her husband Gabriel returns home late from a fashion shoot, and Alicia shoots him five times in the face, and then never speaks another word.

                                    </p>
                                    <small>Jully gave this 4 out of 5</small>
                                </div>
                                {{#if logged_in}}
                                <button class="button is-danger is-light">Add Review</button>
                                {{else}}
                                <button class="button is-text is-light"><a href="/login">Log in to add a review</a></button>
                                {{/if}}
                            </div>
                        </article>
                    </div>
                </div>
                
            </div>

        </div>
    </section>