  <!-- Content-4 -->
    <section class="section is-small">
        <div class="container is-max-desktop">

            <h1 id="bestNew" class="title">Best New</h1>

            <div class="columns is-multiline">
                <div class="column is-half">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="./images/book-3.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>
                                            Normal People
                                        </strong> <br><small>by Sally Rooney</small>
                                        <br>
                                        At school Connell and Marianne pretend not to know each other. He\’s popular and well-adjusted, star of the school soccer team while she is lonely, proud, and intensely private. But when Connell comes to pick his mother up from her housekeeping job at Marianne’s house, a strange and indelible connection grows between the two teenagers - one they are determined to conceal.

                                    </p>
                                    <small>Tom gave this 4 out of 5</small>
                                </div>
                                {{#if logged_in}}
                                <button class="button is-danger is-light">Add Review</button>
                                {{else}}
                                <button class="button is-text is-light"><a href="/login">Log in to add a review</a></button>
                                {{/if}}
                            </div>
                        </article>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="./images/book-9.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>
                                            Cain's Jawbone
                                        </strong> <br><small>by E. Powys Mathers</small>
                                        <br>
                                        Six murders. One hundred pages. Millions of possible combinations... but only one is correct. Can you solve Torquemada's murder mystery?

                                    </p>
                                    <small>Sarah gave this 4 out of 5</small>
                                </div>
                                {{#if logged_in}}
                                <button class="button is-danger is-light">Add Review</button>
                                {{else}}
                                <button class="button is-text is-light"><a href="/login">Log in to add a review</a></button>
                                {{/if}}
                            </div>
                        </article>
                    </div>
                </div>
                
            </div>

        </div>
    </section>
