  <!-- Content-2 -->
    <section class="section is-small">
        <div class="container is-max-desktop">

            <h1 id="recommended" class="title">Recommended For You</h1>

            <div class="columns is-multiline">
                <div class="column is-half">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="./images/book-6.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>
                                            It Ends with Us
                                        </strong> <br><small>by Colleen Hoover</small>
                                        <br>
                                        Lily hasn\’t always had it easy, but that\’s never stopped her from working hard for the life she wants. She\’s come a long way from the small town where she grew up—she graduated from college, moved to Boston, and started her own business. And when she feels a spark with a gorgeous neurosurgeon named Ryle Kincaid, everything in Lily\’s life seems too good to be true.

                                    </p>
                                    <small>Jane gave this 5 out of 5</small>
                                </div>
                                {{#if logged_in}}
                                <button class="button is-danger is-light">Add Review</button>
                                {{else}}
                                <button class="button is-text is-light"><a href="/login">Log in to add a review</a></button>
                                {{/if}}
                            </div>
                        </article>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="./images/book-1.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>
                                            Harry Potter and the Cursed Child
                                        </strong> <br><small>by J.K Rowling</small>
                                        <br>
                                        It was always difficult being Harry Potter and it isn\’t much easier now that he is an overworked employee of the Ministry of Magic, a husband and father of three school-age children. While Harry grapples with a past that refuses to stay where it belongs, his youngest son Albus must struggle with the weight of a family legacy he never wanted. As past and present fuse ominously, both father and son learn the uncomfortable truth: sometimes, darkness comes from unexpected places.

                                    </p>
                                    <small>Jeoffrey gave this 4 out of 5</small>
                                </div>
                                {{#if logged_in}}
                                <button class="button is-danger is-light">Add Review</button>
                                {{else}}
                                <button class="button is-text is-light"><a href="/login">Log in to add a review</a></button>
                                {{/if}}
                            </div>
                        </article>
                    </div>
                </div>
                
            </div>

        </div>
    </section>