<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oh my, Books!</title>

    <!-- main css -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/style-zed.css">
    <link rel="stylesheet" href="./css/jass.css">

    <!-- bulma link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- font awesome link -->
    <script src="https://kit.fontawesome.com/f513bbdf7f.js" crossorigin="anonymous"></script>

</head>

<body class="has-navbar-fixed-top">


    <!-- navbar -->
    <nav class="navbar is-transparent is-fixed-top">
      <!-- logo input -->
      <div class="navbar-brand navbar-start">
          <a class="navbar-item image is-128x128 logo">
            <!-- <img class="has-ratio" src="./img/logo.png" alt="logo"> -->
          </a>
      </div>

      <!-- genre menu -->
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="navbar-item" href="#home">
            Home
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Genre
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item">
                Action
              </a>
              <a class="navbar-item">
                Adventure
              </a>
              <a class="navbar-item">
                Classics
              </a>
              <a class="navbar-item">
                Fantasy
              </a>
              <a class="navbar-item">
                Graphic Novel
              </a>
              <a class="navbar-item">
                Horror
              </a>
              <a class="navbar-item">
                Mystery/Thriller
              </a>
              <a class="navbar-item">
                Non-Fiction
              </a>
              <a class="navbar-item">
                Romance
              </a>
              <a class="navbar-item">
                Science Fiction
              </a>
            </div>
          </div>

            <!-- search bar -->
            <div class="navbar-item">
              <input class="input" type="text" placeholder="Search">
            </div>

              <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <div class="navbar-item">
          <div class="buttons">
            <a href="/login" class="button">
              Log In
            </a>
        </div>
        
        {{/if}}

        </div>
      </div>

    </nav>


    {{{ body }}}
    <!-- tabs -->

    <!-- section -->
    <!-- comment area for reviews -->
    
    <!-- media card section for our names    -->
    <!-- footer -->
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </footer>

    <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>
