<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bulma link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <link rel="stylesheet" href="./css/fix.css">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- font awesome link -->
    <script src="https://kit.fontawesome.com/f513bbdf7f.js" crossorigin="anonymous"></script>

    <title>Oh my Books!</title>
</head>


<body>
    <!-- navbar -->
    {{> navbar}}


    {{{ body }}}
    <!-- tabs -->

    <!-- section -->
    <!-- comment area for reviews -->
    
    <!-- media card section for our names    -->
    <!-- footer -->
   {{> footer}}

    <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>
