<section class="section mt-6 pt-6">
        <h1 class="title">Your library</h1>
        <h2 class="subtitle">
          Here are some books available for review
        </h2>
        {{#each books as |book|}}
    <div class="col-md-5">
      <div class="box mb-5">
      <p>
        <a href="/book/{{book.book_id}}"><strong>{{book.title}}</strong></a> <br>
        {{book.description}} <br><br>Genre: <strong>{{book.genre}}</strong>
        <br>
        <br>
      </p>

    <button class="button">Add Review</button>

      </div>
    </div>




  {{/each}}
      </section>




