<section class="section mt-6 pt-6">
        <h1 class="title">Your library</h1>
        <h2 class="subtitle">
          Here are some books available for review
        </h2>
        {{#each books as |book|}}
    <div class="col-md-5">
      
      <p>
        <strong>
        {{book.title}}</strong> <br>
        {{book.description}} <br><br>Genre: <strong>{{book.genre}}</strong>
        <br>
        <br>
      </p>
    </div>
  {{/each}}
      </section>


