{{!-- <link rel="stylesheet" href="css/form.css"> --}}

<!-- base login form  -->
<body>

{{> hero-login}}

{{#if logged_in}}
{{> uni-yourreviews}}
{{> uni-recommended}}
{{> uni-latestreviews}}
{{> uni-bestnew}}

     {{else}}

{{> uni-recommended}}
{{> uni-latestreviews}}
{{> uni-bestnew}}

 {{/if}}


    {{!-- <section class="loginsctn">
        <div class="container logincont">
            <div class="promotext">
                <h3>Welcome</h3>
                <h3>Back</h3>
                <p>Let's find your next read</p>
            </div>
            <form class="loginbtn login-form">
                <h4>Login</h4>
                <p> to your account </p> 
                
                <div class="logbox">
                    <div class="inputbox">
                        <label class="username" for="username-login">Username </label>
                        <input class="form-input" type="text" id="username-login">
                    </div>
                    <div class="inputbox">
                        <label class="password" for="password-login">Password </label>
                        <input class="form-input" type="password" id="password-login">
                    </div>
                </div>
                <button type="submit" class="button logbtn"> Log in </button>

                <p class="signup">
                  <a href="/signup" id="signup"> or Sign Up here! </a>   
                </p>
                <div class="bcimage"></div>
            </form>
        </div>
    </section> --}}

   


    <script src="./js/login.js"></script>
    <script src="./js/logout.js"></script>
    <script src="./js/profile.js"></script>

</body>
</html>
