<section class="section mt-6 pt-6">
        <h1 class="title">Welcome, {{username}}!</h1>
        <h2 class="subtitle">
          It's time to start writing reviews
        </h2>
        {{#each books as |book|}}
    <div class="col-md-5">
      
      <p>
        <strong>
        {{title}}</strong> <br>
        {{description}} <br><br>Genre: <strong>{{genre}}</strong>
        <br>
        <br>
      </p>
    </div>
  {{/each}}
  </section>