:root {
  --cute: 'Poppins', sans-serif;
}

body {
  font-family: var(--cute);
}

ul.menu-link li {
  list-style-type: none !important;
}

.logocard {
  background: url(../img/logo.png);
  background-size: cover;
}

.subtitle {
  font-size: 1rem !important;
}

footer li {
  list-style-type: none;
  margin-left: -2.5rem;
}

/* hero-home */
.sectionbg {
  background: url(../img/background4.jpg);
}

.boxradius {
  border-radius: 90px;
}

.yellowbg {
  background-color: #fdd28a;
}

.tealbg {
  background-color: #98d4e1;
}

.whitebg {
  background-color: #f3ece6;
}
