/* importing the google api poppins font */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Lobster&family=Neonderthaw&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
section{
    background-size: cover;
    position: relative;
    min-height: 100vh;
    background-image: url("../img/bookshelf2.jpg");
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
}
.container{
    margin: 0 14%; 
}
.promotext{
    padding-top: 24%;
    color: #ffffff;
    text-shadow: 1px 1px 11px #000000; 
}
.promotext h3{
    font-size: 6.5rem;
    line-height: 1; 
}
.promotext p{
    font-size: 3.2rem; 
    font-weight: 300;
    margin-top: 40px; 
}
.loginbtn{
    position: absolute;
    padding: 50px 50px; 
    text-align: center; 
    box-shadow: 3px 6px 30px 8px rgb(58 58 58 / 15%); 
    background: rgb(0, 52, 134 / 50%);
    right: 15%; 
    bottom: 20%;
    height: 57%; 
    border: 1px solid; 
    border-top-color: #59aaff;
    border-left-color: #59aaff;
    border-bottom-color: #000000;
    border-right-color: #000000;
    border-radius: 8px;
    backdrop-filter:blur(30px);
}
.loginbtn h4{
    font-size: 20px; 
    font-weight: 600;
    letter-spacing: 2px;
    color: yellow;
}
.loginbtn p{
    font-size: 10px;
    color: #d7f52b;
    margin-bottom: 100px; 
}
.inputbox{
    position: relative; 
    margin-bottom: 50px; 
}
.inputbox input, .inputbox textarea{
    font-size: 24px; 
    font-weight: 400; 
    letter-spacing: 2px;
    color: #eff9ff; 
    border: none ;
    border-bottom: 1px solid #abe0ff;
    background-color: transparent;
    padding: 4px 3px; 
    outline: none; 
}
.username,
.password {
    position: absolute;
    left: 2px; 
    bottom: 40px; 
    letter-spacing: 1px; 
    color: #efff93;    
}
.logbtn {
    position: relative; 
    cursor: pointer; 
    background: #c0dc20;
    color: #022e79; 
    font-weight: 600;
    border: none; 
    font-size: 20px; 
    padding: 18px 80px; 
    text-transform: uppercase; 
    border-radius: 50px; 
    box-shadow: 0 3px 8px 2px rgb(60 60 60 / 30%);
    margin-top: 30px; 
    transition: all 0.2s ease-in-out;
}
.logbtn:hover{
    background-color: #cfee21;
    box-shadow: 0 3px 8px 2px rgb(99 99 99 / 30%); 
    transition: all 0.2s ease-in-out;
}