:root {
  --navtext: 'Poppins', sans-serif;
  --white: #E8E8E8;
  --red: #F05454;
  --navy: #30475E;
  --darkcolor: #222831;
}

body {
  background-color: var(--white);
}

.navbar {
  font-family: var(--navtext);
}

/* section cover */
.sectioncvr {
  background-color: var(--navy);
}

.titlebtn {
  color: var(--white);
}