:root {
  --navtext: 'Poppins', sans-serif;
  --white: #F8F1F1;
  --orange: #EB5E0B;
  --red: #F05454;
  --teal: #A3D2CA;
  --bgreen: #5EAAA8;
  --navy: #30475E;
  --darkcolor: #222831;
}

body {
  background-color: var(--white);
}

.navbar {
  font-family: var(--navtext);
}

.logo {
  background: url(../img/logo.png);
  background-size: cover;
}

/* section cover */
.hero,
.has-background {
  position: relative;
  overflow: hidden;
}

.background {
  position: absolute;
  object-fit: cover;
  object-position: center; 
}

.is-transparent {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
    
.sectioncvr {
  background-color: var(--navy);
}

.titlebtn {
  color: var(--white);
}

/* @media screen and (max-width: 941px){
  
} */