:root {
  --navtext: 'Poppins', sans-serif;
  --beige: #f3ece6;
  --lightbrown: #d7c8b5;
  --darkbrown: #e4d6c6;
  --yellow: #fdd28a;
  --red: #ef7e6b;
  --teal: #98d4e1;

}

.top {
  min-height: 100vh;
}

nav {
  background-color: var(--beige);
}

.navbar {
  font-family: var(--navtext);
}

.logo {
  background: url(../img/logo.png);
  background-size: cover;
}

/* section cover */
.cover {
  background: url(../img/background.jpg);
  background-size: contain;
}

.is-transparent {
  opacity: 0.85;
}
    
.sectioncvr {
  background-color: var(--navy);
}

.titlebtn {
  color: var(--white);
}

/* @media screen and (max-width: 941px){
  
} */